body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.search-heading {
    color: #d8544c; /* Or use a specific shade like #FFA500 */
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    text-align: center;
    padding: 20px;
}

.search-bar {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.search-button, .clear-button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.vet-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000; /* Set text color to black */
}

.vet-card h2,
.vet-card * {
    color: black !important;
    font-size: 16px !important;
}




.book-button {
    background-color: #d8544c; /* Orange color */
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.book-button:hover {
    background-color: #d8544c; /* Darker orange on hover */
}
